
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #171717 radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
    color: #e0e0e0;
    min-height: 100vh;
}

.tool-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

.tool-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.1);
}

.tool-icon {
    font-size: 2.5rem;
    background-color: #fff;
    /* background: linear-gradient(45deg, #6366f1, #8b5cf6); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    /* background: linear-gradient(45deg, #6366f1, #8b5cf6); */
    background-color: #9ca3af;
    color: black;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.newsletter-form input {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
}

.newsletter-form input::placeholder {
    color: #9ca3af;
}
.image{
    height: 4px;
    /* width: 20px; */
}
